/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6060c207af72f18856656a375b13e590:9881d7578eecf702aa30b2ed203d7a4a:1fd4599d34f31d663cac95888b5dadc0$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(cortex.png);}

.Animation_Cortex0000 {width:480px; height:360px; background-position: -2px -2px}
.Animation_Cortex0001 {width:480px; height:360px; background-position: -484px -2px}
.Animation_Cortex0002 {width:480px; height:360px; background-position: -966px -2px}
.Animation_Cortex0003 {width:480px; height:360px; background-position: -1448px -2px}
.Animation_Cortex0004 {width:480px; height:360px; background-position: -1930px -2px}
.Animation_Cortex0005 {width:480px; height:360px; background-position: -2412px -2px}
.Animation_Cortex0006 {width:480px; height:360px; background-position: -2894px -2px}
.Animation_Cortex0007 {width:480px; height:360px; background-position: -3376px -2px}
.Animation_Cortex0008 {width:480px; height:360px; background-position: -3858px -2px}
.Animation_Cortex0009 {width:480px; height:360px; background-position: -4340px -2px}
.Animation_Cortex0010 {width:480px; height:360px; background-position: -4822px -2px}
.Animation_Cortex0011 {width:480px; height:360px; background-position: -5304px -2px}
.Animation_Cortex0012 {width:480px; height:360px; background-position: -5786px -2px}
.Animation_Cortex0013 {width:480px; height:360px; background-position: -6268px -2px}
.Animation_Cortex0014 {width:480px; height:360px; background-position: -6750px -2px}
.Animation_Cortex0015 {width:480px; height:360px; background-position: -7232px -2px}
.Animation_Cortex0016 {width:480px; height:360px; background-position: -7714px -2px}
.Animation_Cortex0017 {width:480px; height:360px; background-position: -8196px -2px}
.Animation_Cortex0018 {width:480px; height:360px; background-position: -8678px -2px}
.Animation_Cortex0019 {width:480px; height:360px; background-position: -9160px -2px}
.Animation_Cortex0020 {width:480px; height:360px; background-position: -9642px -2px}
.Animation_Cortex0021 {width:480px; height:360px; background-position: -10124px -2px}
.Animation_Cortex0022 {width:480px; height:360px; background-position: -10606px -2px}
.Animation_Cortex0023 {width:480px; height:360px; background-position: -11088px -2px}
.Animation_Cortex0024 {width:480px; height:360px; background-position: -11570px -2px}
.Animation_Cortex0025 {width:480px; height:360px; background-position: -12052px -2px}
.Animation_Cortex0026 {width:480px; height:360px; background-position: -12534px -2px}
.Animation_Cortex0027 {width:480px; height:360px; background-position: -13016px -2px}
.Animation_Cortex0028 {width:480px; height:360px; background-position: -13498px -2px}
.Animation_Cortex0029 {width:480px; height:360px; background-position: -13980px -2px}
.Animation_Cortex0030 {width:480px; height:360px; background-position: -14462px -2px}
