/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:283ec249838e983cf0a24af71a842d97:2fb19783a1b55d65b3b70dba9356cdb3:fb311d1eea4137aed1a0c9d3e1ddf035$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(cortex.png);}

.Animation_Cortex0000 {width:640px; height:480px; background-position: -2px -2px}
.Animation_Cortex0001 {width:640px; height:480px; background-position: -644px -2px}
.Animation_Cortex0002 {width:640px; height:480px; background-position: -1286px -2px}
.Animation_Cortex0003 {width:640px; height:480px; background-position: -1928px -2px}
.Animation_Cortex0004 {width:640px; height:480px; background-position: -2570px -2px}
.Animation_Cortex0005 {width:640px; height:480px; background-position: -3212px -2px}
.Animation_Cortex0006 {width:640px; height:480px; background-position: -3854px -2px}
.Animation_Cortex0007 {width:640px; height:480px; background-position: -4496px -2px}
.Animation_Cortex0008 {width:640px; height:480px; background-position: -5138px -2px}
.Animation_Cortex0009 {width:640px; height:480px; background-position: -5780px -2px}
.Animation_Cortex0010 {width:640px; height:480px; background-position: -6422px -2px}
.Animation_Cortex0011 {width:640px; height:480px; background-position: -7064px -2px}
.Animation_Cortex0012 {width:640px; height:480px; background-position: -7706px -2px}
.Animation_Cortex0013 {width:640px; height:480px; background-position: -8348px -2px}
.Animation_Cortex0014 {width:640px; height:480px; background-position: -8990px -2px}
.Animation_Cortex0015 {width:640px; height:480px; background-position: -9632px -2px}
.Animation_Cortex0016 {width:640px; height:480px; background-position: -10274px -2px}
.Animation_Cortex0017 {width:640px; height:480px; background-position: -10916px -2px}
.Animation_Cortex0018 {width:640px; height:480px; background-position: -11558px -2px}
.Animation_Cortex0019 {width:640px; height:480px; background-position: -12200px -2px}
.Animation_Cortex0020 {width:640px; height:480px; background-position: -12842px -2px}
.Animation_Cortex0021 {width:640px; height:480px; background-position: -13484px -2px}
.Animation_Cortex0022 {width:640px; height:480px; background-position: -14126px -2px}
.Animation_Cortex0023 {width:640px; height:480px; background-position: -14768px -2px}
.Animation_Cortex0024 {width:640px; height:480px; background-position: -15410px -2px}
.Animation_Cortex0025 {width:640px; height:480px; background-position: -16052px -2px}
.Animation_Cortex0026 {width:640px; height:480px; background-position: -16694px -2px}
.Animation_Cortex0027 {width:640px; height:480px; background-position: -17336px -2px}
.Animation_Cortex0028 {width:640px; height:480px; background-position: -17978px -2px}
.Animation_Cortex0029 {width:640px; height:480px; background-position: -18620px -2px}
.Animation_Cortex0030 {width:640px; height:480px; background-position: -19262px -2px}
