/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:553876d4495d4b5395f8331ff0ea7664:0678249c371ea72a0b66630b0ea46f81:501c61398f31e428a85cea3cca89b592$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(hippocampus.png);}

.Animation_Hippocampus0000 {width:640px; height:480px; background-position: -2px -2px}
.Animation_Hippocampus0001 {width:640px; height:480px; background-position: -644px -2px}
.Animation_Hippocampus0002 {width:640px; height:480px; background-position: -1286px -2px}
.Animation_Hippocampus0003 {width:640px; height:480px; background-position: -1928px -2px}
.Animation_Hippocampus0004 {width:640px; height:480px; background-position: -2570px -2px}
.Animation_Hippocampus0005 {width:640px; height:480px; background-position: -3212px -2px}
.Animation_Hippocampus0006 {width:640px; height:480px; background-position: -3854px -2px}
.Animation_Hippocampus0007 {width:640px; height:480px; background-position: -4496px -2px}
.Animation_Hippocampus0008 {width:640px; height:480px; background-position: -5138px -2px}
.Animation_Hippocampus0009 {width:640px; height:480px; background-position: -5780px -2px}
.Animation_Hippocampus0010 {width:640px; height:480px; background-position: -6422px -2px}
.Animation_Hippocampus0011 {width:640px; height:480px; background-position: -7064px -2px}
.Animation_Hippocampus0012 {width:640px; height:480px; background-position: -7706px -2px}
.Animation_Hippocampus0013 {width:640px; height:480px; background-position: -8348px -2px}
.Animation_Hippocampus0014 {width:640px; height:480px; background-position: -8990px -2px}
.Animation_Hippocampus0015 {width:640px; height:480px; background-position: -9632px -2px}
.Animation_Hippocampus0016 {width:640px; height:480px; background-position: -10274px -2px}
.Animation_Hippocampus0017 {width:640px; height:480px; background-position: -10916px -2px}
.Animation_Hippocampus0018 {width:640px; height:480px; background-position: -11558px -2px}
.Animation_Hippocampus0019 {width:640px; height:480px; background-position: -12200px -2px}
.Animation_Hippocampus0020 {width:640px; height:480px; background-position: -12842px -2px}
.Animation_Hippocampus0021 {width:640px; height:480px; background-position: -13484px -2px}
.Animation_Hippocampus0022 {width:640px; height:480px; background-position: -14126px -2px}
.Animation_Hippocampus0023 {width:640px; height:480px; background-position: -14768px -2px}
.Animation_Hippocampus0024 {width:640px; height:480px; background-position: -15410px -2px}
.Animation_Hippocampus0025 {width:640px; height:480px; background-position: -16052px -2px}
.Animation_Hippocampus0026 {width:640px; height:480px; background-position: -16694px -2px}
.Animation_Hippocampus0027 {width:640px; height:480px; background-position: -17336px -2px}
.Animation_Hippocampus0028 {width:640px; height:480px; background-position: -17978px -2px}
.Animation_Hippocampus0029 {width:640px; height:480px; background-position: -18620px -2px}
.Animation_Hippocampus0030 {width:640px; height:480px; background-position: -19262px -2px}
