/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:36df46c29717f2ba6768a68c99d40833:529a87222032a185ccde47516ff25d9c:da37fbf72e5809b708caab289b2b2f54$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(hippocampus.png);}

.Animation_Hippocampus0001 {width:416px; height:312px; background-position: -2px -2px}
.Animation_Hippocampus0002 {width:416px; height:312px; background-position: -420px -2px}
.Animation_Hippocampus0003 {width:416px; height:312px; background-position: -838px -2px}
.Animation_Hippocampus0004 {width:416px; height:312px; background-position: -1256px -2px}
.Animation_Hippocampus0005 {width:416px; height:312px; background-position: -1674px -2px}
.Animation_Hippocampus0006 {width:416px; height:312px; background-position: -2092px -2px}
.Animation_Hippocampus0007 {width:416px; height:312px; background-position: -2510px -2px}
.Animation_Hippocampus0008 {width:416px; height:312px; background-position: -2928px -2px}
.Animation_Hippocampus0009 {width:416px; height:312px; background-position: -3346px -2px}
.Animation_Hippocampus0010 {width:416px; height:312px; background-position: -3764px -2px}
.Animation_Hippocampus0011 {width:416px; height:312px; background-position: -4182px -2px}
.Animation_Hippocampus0012 {width:416px; height:312px; background-position: -4600px -2px}
.Animation_Hippocampus0013 {width:416px; height:312px; background-position: -5018px -2px}
.Animation_Hippocampus0014 {width:416px; height:312px; background-position: -5436px -2px}
.Animation_Hippocampus0015 {width:416px; height:312px; background-position: -5854px -2px}
.Animation_Hippocampus0016 {width:416px; height:312px; background-position: -6272px -2px}
.Animation_Hippocampus0017 {width:416px; height:312px; background-position: -6690px -2px}
.Animation_Hippocampus0018 {width:416px; height:312px; background-position: -7108px -2px}
.Animation_Hippocampus0019 {width:416px; height:312px; background-position: -7526px -2px}
.Animation_Hippocampus0020 {width:416px; height:312px; background-position: -7944px -2px}
.Animation_Hippocampus0021 {width:416px; height:312px; background-position: -8362px -2px}
.Animation_Hippocampus0022 {width:416px; height:312px; background-position: -8780px -2px}
.Animation_Hippocampus0023 {width:416px; height:312px; background-position: -9198px -2px}
.Animation_Hippocampus0024 {width:416px; height:312px; background-position: -9616px -2px}
.Animation_Hippocampus0025 {width:416px; height:312px; background-position: -10034px -2px}
.Animation_Hippocampus0026 {width:416px; height:312px; background-position: -10452px -2px}
.Animation_Hippocampus0027 {width:416px; height:312px; background-position: -10870px -2px}
.Animation_Hippocampus0028 {width:416px; height:312px; background-position: -11288px -2px}
.Animation_Hippocampus0029 {width:416px; height:312px; background-position: -11706px -2px}
.Animation_Hippocampus0030 {width:416px; height:312px; background-position: -12124px -2px}
