/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:ac1588f050599bfbe40550ac2f5605af:06e484292ac4cd257dba21c4ac5eabb8:f0a689517fcc12c669ac917168d3b94f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(hypothalamus.png);}

.Animation_Hypothalamus0000 {width:640px; height:480px; background-position: -2px -2px}
.Animation_Hypothalamus0001 {width:640px; height:480px; background-position: -644px -2px}
.Animation_Hypothalamus0002 {width:640px; height:480px; background-position: -1286px -2px}
.Animation_Hypothalamus0003 {width:640px; height:480px; background-position: -1928px -2px}
.Animation_Hypothalamus0004 {width:640px; height:480px; background-position: -2570px -2px}
.Animation_Hypothalamus0005 {width:640px; height:480px; background-position: -3212px -2px}
.Animation_Hypothalamus0006 {width:640px; height:480px; background-position: -3854px -2px}
.Animation_Hypothalamus0007 {width:640px; height:480px; background-position: -4496px -2px}
.Animation_Hypothalamus0008 {width:640px; height:480px; background-position: -5138px -2px}
.Animation_Hypothalamus0009 {width:640px; height:480px; background-position: -5780px -2px}
.Animation_Hypothalamus0010 {width:640px; height:480px; background-position: -6422px -2px}
.Animation_Hypothalamus0011 {width:640px; height:480px; background-position: -7064px -2px}
.Animation_Hypothalamus0012 {width:640px; height:480px; background-position: -7706px -2px}
.Animation_Hypothalamus0013 {width:640px; height:480px; background-position: -8348px -2px}
.Animation_Hypothalamus0014 {width:640px; height:480px; background-position: -8990px -2px}
.Animation_Hypothalamus0015 {width:640px; height:480px; background-position: -9632px -2px}
.Animation_Hypothalamus0016 {width:640px; height:480px; background-position: -10274px -2px}
.Animation_Hypothalamus0017 {width:640px; height:480px; background-position: -10916px -2px}
.Animation_Hypothalamus0018 {width:640px; height:480px; background-position: -11558px -2px}
.Animation_Hypothalamus0019 {width:640px; height:480px; background-position: -12200px -2px}
.Animation_Hypothalamus0020 {width:640px; height:480px; background-position: -12842px -2px}
.Animation_Hypothalamus0021 {width:640px; height:480px; background-position: -13484px -2px}
.Animation_Hypothalamus0022 {width:640px; height:480px; background-position: -14126px -2px}
.Animation_Hypothalamus0023 {width:640px; height:480px; background-position: -14768px -2px}
.Animation_Hypothalamus0024 {width:640px; height:480px; background-position: -15410px -2px}
.Animation_Hypothalamus0025 {width:640px; height:480px; background-position: -16052px -2px}
.Animation_Hypothalamus0026 {width:640px; height:480px; background-position: -16694px -2px}
.Animation_Hypothalamus0027 {width:640px; height:480px; background-position: -17336px -2px}
.Animation_Hypothalamus0028 {width:640px; height:480px; background-position: -17978px -2px}
.Animation_Hypothalamus0029 {width:640px; height:480px; background-position: -18620px -2px}
.Animation_Hypothalamus0030 {width:640px; height:480px; background-position: -19262px -2px}
