/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:cb892a538dcc9eb60d0e2ec8abb06945:159a24eb58e121a4d413f42ad6cccac9:4ec259d55a3e778d85d7e4262ba9ec30$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(striatum.png);}

.Animation_striatum0000 {width:640px; height:480px; background-position: -2px -2px}
.Animation_striatum0001 {width:640px; height:480px; background-position: -644px -2px}
.Animation_striatum0002 {width:640px; height:480px; background-position: -1286px -2px}
.Animation_striatum0003 {width:640px; height:480px; background-position: -1928px -2px}
.Animation_striatum0004 {width:640px; height:480px; background-position: -2570px -2px}
.Animation_striatum0005 {width:640px; height:480px; background-position: -3212px -2px}
.Animation_striatum0006 {width:640px; height:480px; background-position: -3854px -2px}
.Animation_striatum0007 {width:640px; height:480px; background-position: -4496px -2px}
.Animation_striatum0008 {width:640px; height:480px; background-position: -5138px -2px}
.Animation_striatum0009 {width:640px; height:480px; background-position: -5780px -2px}
.Animation_striatum0010 {width:640px; height:480px; background-position: -6422px -2px}
.Animation_striatum0011 {width:640px; height:480px; background-position: -7064px -2px}
.Animation_striatum0012 {width:640px; height:480px; background-position: -7706px -2px}
.Animation_striatum0013 {width:640px; height:480px; background-position: -8348px -2px}
.Animation_striatum0014 {width:640px; height:480px; background-position: -8990px -2px}
.Animation_striatum0015 {width:640px; height:480px; background-position: -9632px -2px}
.Animation_striatum0016 {width:640px; height:480px; background-position: -10274px -2px}
.Animation_striatum0017 {width:640px; height:480px; background-position: -10916px -2px}
.Animation_striatum0018 {width:640px; height:480px; background-position: -11558px -2px}
.Animation_striatum0019 {width:640px; height:480px; background-position: -12200px -2px}
.Animation_striatum0020 {width:640px; height:480px; background-position: -12842px -2px}
.Animation_striatum0021 {width:640px; height:480px; background-position: -13484px -2px}
.Animation_striatum0022 {width:640px; height:480px; background-position: -14126px -2px}
.Animation_striatum0023 {width:640px; height:480px; background-position: -14768px -2px}
.Animation_striatum0024 {width:640px; height:480px; background-position: -15410px -2px}
.Animation_striatum0025 {width:640px; height:480px; background-position: -16052px -2px}
.Animation_striatum0026 {width:640px; height:480px; background-position: -16694px -2px}
.Animation_striatum0027 {width:640px; height:480px; background-position: -17336px -2px}
.Animation_striatum0028 {width:640px; height:480px; background-position: -17978px -2px}
.Animation_striatum0029 {width:640px; height:480px; background-position: -18620px -2px}
.Animation_striatum0030 {width:640px; height:480px; background-position: -19262px -2px}
