body {
  /*margin: 15px 25px 15px 15px;*/
  /*padding: 1em;*/
  background-color: #FFFFFF;
  color: #5D6061;
}

div.content.container {
  padding: 1em 0 0 2em;
  height: 100%;
}

div.content.container > .pure-g {
  height: 100%;
}

div.main-header {
  color: #A1CE64;
}

div.main-header > p {
  color: #5D6061;
}

div.brain-container {

}

div.brain-description {
  color: #000000;
  font-size: 1em;
}

img.brain-thumbnail {
  vertical-align: text-top;
  display: inline-block;
}

ul {
  margin-top: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 0;
  margin-bottom: 10px;
}

.menu {
  background-color: inherit;
}

.menu-item img {
  max-width: 100%;
}

.menu-item:hover,
.menu-item:hover .menu-title,
.menu-item.active,
.menu-item.active .menu-title {
  color: #fff;
  /*background-color: #F0F0F0;*/
}

.menu-header {
  color: #000;
  font-size: 1.125em;
  padding: 1em;
  height: 2.5em;
}

.menu-teaser {
  font-size: 0.75em;
  color: #A69C99;
}

.menu-title {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 5px;
}

a#details-btn {
  text-decoration: none;
}

#details-btn > div {
  width: 130px;
  /*height: 35px;*/
  padding: 10px;
  font-size: 1.125em;
  color: #fff;
  background-color: #F06622;
  border-radius: 5px;
}

div.video-btn-container {
  position: relative;
}

div.video-btn-container > div {
  text-align: center;
  background-color: #FFF;
  color: #F06622;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  border-radius: 5px;
}

div.video-btn-container > div.active,
div.video-btn-container > div:hover {
  background-color: #F06622;
  color: #FFF;
}

/*div.video-btn-container img {
  max-width: 100%;
  border: 2px solid #fff;
}

div.video-btn-container:hover img {
  border: 2px solid #F06622;
}*/

div.video-label {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 4px;
  color: #FFF;
}

.video-title {
  text-align: center;
  margin: 0;
}

.video {
  width: 100%;
  height: 100%;
}

video {
  border: 3px solid #F06622;
}

a.carousel-control {
  height: 98%;
}

div.carousel-description {
  font-size: 0.9em;
}

.description-header {
  margin: 0;
}

/* PLACEHOLDER OVERLAY */
#placeholder-overlay {
  position: absolute;
  height: 100%;
  background: #FFFFFF;
}


/* BRAIN SPRITES */
#brain {
  position: absolute;
  height: 100%;
  background: #F0F0F0;
}

.sprite {
  width: 642px;
  height: 484px;
}

#placeholder {
  background: url('../img/brain_placeholder_640x480.png');
}

#cortex {
  background: url('../spritesheets/640x480/cortex.png');
}

#hippocampus {
  background: url('../spritesheets/640x480/hippocampus.png');
}

#striatum {
  background: url('../spritesheets/640x480/striatum.png');
}

#hypothalamus {
  background: url('../spritesheets/640x480/hypothalamus.png');
}

/* BRAIN INFO OVERLAY */
#brain-info-overlay {
  padding: 2em 2em 2em 0;
  position: absolute;
  height: 100%;
  background: #F0F0F0/*#B0B0B0*/;
}

/* ANIMATIONS */
/* Animations from http://www.justinaguilar.com/animations/ */
.beforeAnimation {
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
}

/*
==============================================
stretchRight
==============================================
*/
.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}
}

@-webkit-keyframes stretchRight {
	0% {
		-webkit-transform: scaleX(0.3);
	}
	40% {
		-webkit-transform: scaleX(1.02);
	}
	60% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(0.98);
	}
	80% {
		-webkit-transform: scaleX(1.01);
	}
	100% {
		-webkit-transform: scaleX(1);
	}
}

/*
==============================================
contractRight
==============================================
*/

.contractRight{
	animation-name: contractRight;
	-webkit-animation-name: contractRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

@keyframes contractRight {
	0% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(0);
	}
	}
}

@-webkit-keyframes contractRight {
	0% {
		-webkit-transform: scaleX(1);
	}
	100% {
		-webkit-transform: scaleX(0);
	}
}
