body {
  /*margin: 15px 25px 15px 15px;*/
  /*padding: 1em;*/
  background-color: #ebebeb;
}

div.content.container {
  padding: 1em 5em 1em 5em;
}

div.main-header {
  border-bottom: 2px #c1c1c1 solid;
  margin-bottom: 1em;
}

div.brain-container {

}

div.brain-description {
  color: #666666;
  font-size: 1em;
}

.menu {
  background-color: #d9d9d9;

}

.menu-item {
  color: #000;
  background-color: inherit;
  border-top: 2px #7f7476 dashed;
}

.menu-item:hover {
  /*padding: 10px;*/
  color: #fff;
  background-color: #666666;
}

.menu-header {
  color: #000;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  /*margin: 25px;*/
  padding: 2em;
  height: 2.5em;
}


/* BRAIN SPRITES */

.sprite {
  width: 482px;
  height: 364px;
}

#placeholder {
  background: url('../sprites/cortex/Animation_Cortex0001.png');
}

#cortex {
  background: url('../spritesheets/480x360/cortex.png');
}

#hippocampus {
  background: url('../spritesheets/hippocampus.png');
}