/* BRAIN SPRITES */
#brain {
  position: absolute;
  height: 100%;
  background: #DBDADA;
}

.sprite {
  width: 642px;
  height: 484px;
}

#placeholder {
  background: url('../img/brain_placeholder_640x480.png');
}

#cortex {
  background: url('../spritesheets/640x480/cortex.png');
}

#hippocampus {
  background: url('../spritesheets/640x480/hippocampus.png');
}